*{
	padding: 0;
	margin: 0;
}
#loadingMask{
	position: fixed;
	width: 100vw;
	height: 100vh;
	z-index: 1000;
	background: #FFFF;
	display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}
.loader {
	border: 5px solid #f3f3f3;
	border-radius: 50%;
	border-top: 5px solid #DB6638;
	width: 30px;
	height: 30px;
	-webkit-animation: spin 2s linear infinite; /* Safari */
	animation: spin 2s linear infinite;
}
@-webkit-keyframes spin {
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

#menu{
	position: fixed;   
	width: 100%;
}
.navHeader{
	position: fixed;   
	width: 100%;
	background: white;
	box-shadow: 0 5px 15px 0 rgba(46, 61, 73, 0.12);
	z-index: 100;
}
nav span{
	display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 50px 20px 50px;
    box-sizing: border-box;
    width: 100%;
}
nav span ul li{
	display: inline-block;
	margin-left: 15px;
	font-family: "Montserrat", sans-serif;
	font-size: 14pt;
	font-weight: 300;
	color: white;
	border-bottom: 2px solid transparent;
}
nav span ul li:hover{
	border-bottom: 2px solid #DB6638;
	cursor: pointer;
}
header{
	background-image: url("../media/img/header2.png");
	color: white;
    background-attachment: fixed;
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}
header span{
	display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    flex-direction: column;
}
header span img{
	width: 700px;
	opacity: 0.6;
}
header span table{
	font-family: "Montserrat", sans-serif;
	color: #ffff;
	opacity: 0.6;
    width: 600px;
    text-align: center;
}
.valor td{
	width: 25%;
}
.valor{
	font-size: 70pt;
	font-weight: 300;
}
.tipo{
	font-size: 16pt;
	font-weight: 400;
}
.about{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 100px 20px 100px 20px;
}
.data_hora{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin-bottom: 70px;
}
.data_hora div{
	margin: 15px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.data_hora div img{
	width: 54px;
}
.data_hora div:first-of-type img{
	margin-right: 10px;
}
.data_hora div p span{
	font-family: "Montserrat", sans-serif;
	font-size: 18px;
	margin-bottom: 3px;
    font-size: 18px;
    margin-bottom: 15px;
    font-weight: 500;
    color: #212126;
}
.data_hora div p{
	font-family: "Montserrat", sans-serif;
	font-size: 14px;
	font-weight: 300;
    color: #838383;
    font-size: 14px;
}
.about span{
	width: 900px;
}
#detail{
	color: #DB6638; 
	font-weight: 700;
	font-size: 36px;
    margin-bottom: 10px; 
}
.about span h2{
	font-family: "Montserrat", sans-serif;
    font-weight: 700;
    color: #18181c;
    font-size: 40px;
}
.about span p{
	margin-top: 20px;
	font-family: "Montserrat", sans-serif;
	font-size: 12pt;
	font-weight: 400;
	line-height: 24px;
	text-align: justify;
	color: #838383;
	margin-bottom: 50px;
}
#moext, #mopesq{
	color: #DB6638;
	font-weight: bolder;
}
#moext:hover, #mopesq:hover{
	cursor: pointer;
	text-decoration: underline;
	color: 
}
.mopext{
	background-image: url("../media/img/mopext.png");
	color: white;
    background-attachment: fixed;
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 80px 20px 80px 20px;
}
.mopext span{
	width: 900px;
}
#detail{
	color: #DB6638; 
	font-weight: 700;
	font-size: 36px;
    margin-bottom: 10px; 
}
.mopext span h2{
	font-family: "Montserrat", sans-serif;
    font-weight: 700;
    color: #ffffff;
    font-size: 40px;
}
.mopext span p{
	margin-top: 20px;
	font-family: "Montserrat", sans-serif;
	font-size: 12pt;
	font-weight: 400;
	line-height: 24px;
	text-align: justify;
	color: #ffffff;
	margin-bottom: 50px;
}
.schedule{
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-sizing: border-box;
	padding: 80px 20px 80px 20px;
	flex-direction: column;
}
.title_sch h2{
	font-family: "Montserrat", sans-serif;
    font-weight: 700;
    color: #18181c;
    font-size: 40px;
    margin-bottom: 30px;
    width: 900px;
}
.btns_dia{
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	background: blue;
	width: 900px;
	border-top: 1px solid #e9e9e9;
	border-right: 1px solid #e9e9e9;
	border-left: 1px solid #e9e9e9;
} 
#btn_dia1, #btn_dia2{
	background: white;
	padding: 20px;
	position: relative;
	width: 50%;
	font-family: "Montserrat", sans-serif;
	font-size: 16pt;
	font-weight: 500;
	color: #DB6638;
	justify-content: center;
	display: flex;
	align-items: center;
	flex-direction: column;
}
#btn_dia1 span, #btn_dia2 span{
	font-size: 13pt;
	font-weight: 400;
	color: #aaaaaa;
}
#btn_dia1:hover, #btn_dia2:hover{
	cursor: pointer;
}
#btn_dia1{
	border-right: 1px solid #e9e9e9;
	background: #DB6638;
	color: white;	
}
#btn_dia1 span{
	color: white;
}
.sch_wrap{
	border: 1px solid #e9e9e9;
	width: 900px;
	box-sizing: border-box;
	padding: 30px;
	padding-bottom: 0px;
}
.sch_item{
	box-sizing: border-box;
	border-bottom: 1px solid #e9e9e9;
	margin-bottom: 30px;
	padding-bottom: 10px;
}
.sch_item p{
	color: #DB6638;
	font-size: 16px;
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
}
.sch_item p span{
	color: #575757;
	font-size: 14px;
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
}
.sch_item p img{
	margin-right: 5px;
	width: 14px;
}
.sch_item h2{
	margin-top: 10px;
	font-size: 16pt;
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
}
.map iframe{
	width: 100%;
	height: 500px;
	color: white;
}
.pre_footer{
	display: flex;
	align-items: center;
	justify-content: center;
	background: #0D1A29;
	padding: 80px 20px 80px 20px;
}
.pre_footer span{
	position: relative;
	display:flex;
	box-sizing: border-box;
    width: 1100px;
    align-items: flex-start;
}
.contact{
	position: relative;
	box-sizing:border-box;
}
.contact p{
	color: white;
	font-size: 14px;
	font-family: "Montserrat", sans-serif;
	line-height: 1.6;
}
.contact img{margin-right: 8px;}
.contact h2{
	line-height: 20%;
	font-size: 18pt;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    color: white;
}
.contact h3{
	line-height: 20%;
	font-size: 34pt;
    font-weight: 400;
    font-family: "Montserrat", sans-serif;
    color: #F58634;
    margin-bottom: 30px;
}
footer{
	padding: 50px;
	position: relative;
	display:flex;
    justify-content: space-between;
    width: 100%;
    background: #102033;
    box-sizing: border-box;
}
footer p{
	font-size: 12pt;
	font-weight: 300pt;
	color: white;
	font-family: "Montserrat", sans-serif;
	margin: 12px;
}
footer span img{
	padding: 7px;
	border: 1px solid white;
	border-radius: 30px;
	margin: 5px;
}
footer span img:hover{
	border: 1px solid #DB6638;
	background: #DB6638;
}