*{
	padding: 0;
	margin: 0;
}
header{
	position: relative;
	width: 100%;
	height: 600px;
	background: red;
	box-sizing: border-box;
}
nav{
	position: relative;
	width: 100%;
	box-sizing: border-box;
	height: 100px;
	background: #ffff;
	padding: 15px 70px 15px 70px;
}
nav ul{
	position: relative;
	float: right;
	top: 50%;
	transform: translate(-0%, -50%);
}
nav li{

	display: inline;
	color: #2A5584;
	margin-left: 20px;
	font-size: 14pt;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}
nav li a{color: #2A5584; text-decoration: none;}
nav li:hover, nav li a:hover{
	cursor: pointer;
	color: #F58634;
}
